@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.aboutbody {
    font-family: 'Quicksand', sans-serif;
}

.abouttitle {
    display: flex;
    justify-content: center;
}

.datos {
    font-size: x-large;
    display: flow;
    text-align: center;
}

input {
    width: 50%;
}

#enviar {
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 10%;
    margin-bottom: 2%;
}

textarea {
    font-size: larger;
    display: flow;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2%;
}

@media (max-width: 768px) {
    input {
        width: 80%;
    }
    textarea {
        width: 80%;
    }
    #enviar {
        width: 30%;
        margin-bottom: 25%;
    }
}