@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.productstitle {
    margin-top: 50px;
    font-family: 'Quicksand', sans-serif;
    color: black;
    text-align: center;
}

.principalproducts {
    text-align: center;
    margin: 20px;
  }
  
  .productstitle {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .producto {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
  }
  
  .producto img {
    max-width: 100%;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  