@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.productstitle {
    margin-top: 50px;
    font-family: 'Quicksand', sans-serif;
    color: black;
    text-align: center;
}

.principalproducts {
    text-align: center;
    margin: 20px;
  }
  
  .productstitle {
    font-size: 30px;
    margin-bottom: 40px;
  }
  
  .catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .producto {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
  }
  
  .producto img {
    max-width: 100%;
  }
  
  button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
  }
  
  .link {
    text-decoration: none;
    color: black;
  }

  @media (max-width: 768px) {
    .catalogo {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .imagen-container {
      height: auto;
    }
  }