@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.productstitlereg {
  margin-top: 50px;
  font-family: 'Quicksand', sans-serif;
  color: black;
  text-align: center;
}

.buttonreg {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  width: 50%;
  place-self: center;
}

.principalproductsreg {
  display: flex;
  text-align: center;
  margin: 50px;
  align-items: center;
  justify-content: center;
}

.productstitlereg {
  font-size: 30px;
  margin-bottom: 40px;
}

.catalogoreg {
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.cardreg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.image-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.card-imagereg {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

.card-contentreg {
  padding: 0 10px;
}

.card-titlereg {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.price {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-textreg {
  font-size: 1rem;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.moviltext {
  text-align: center;
}

@media (max-width: 768px) {
  .principalproductsreg {
    margin: 20px; }

  .image-container {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }
    
  .card-imagereg {
      width: 100%;
      height: auto;
      display: block;
      max-width: 100%;
    }

  .buttonreg {
      width: 100%;
    }
  } 
