.terms-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .term-title {
    font-weight: bold;
    margin-bottom: 13px;
    margin-top: 13px;
  }

  .contacto {
    color: green;
  }
  
  #print-link {
    color: green;
    cursor: pointer;
    text-decoration: underline;
  }

  #download-link {
    color: green;
    cursor: pointer;
    text-decoration: underline;
  }  